.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}
.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}

.shop {
    padding: 5px 10px 0 20px;;
}

.heading {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.content{
    align-content: center;
}

.magazine {
  text-align: center;
}
